.wrapper {
    display: flex;
    align-items: flex-end;
    margin: 24px 0;

    .user {
        width: var(--avatar-size);
        height: var(--avatar-size);
        overflow: hidden;
        border-radius: var(--base-rounded-corner);
    }

    .user img {
        max-width: 100%;
        max-height: 100%;
    }
}

.message-item {
    background: var(--active-background);
    overflow: hidden;
    padding: var(--padding-size);
    max-width: 100%;

    // Chat bubble using Mask CSS copy from internet
    &.bubble {
        --r: 0.8em; /* the radius */
        --t: 1em; /* the size of the tail */
        max-width: 300px;
        padding: 1em;
        border-inline: var(--t) solid #0000;
        border-radius: calc(var(--r) + var(--t)) / var(--r);
        mask: radial-gradient(100% 100% at var(--_p) 0, #0000 99%, #000 102%)
                var(--_p) 100% / var(--t) var(--t) no-repeat,
            linear-gradient(#000 0 0) padding-box;
    }
    &.left {
        --_p: 0;
        border-bottom-left-radius: 0 0;
        place-self: start;
    }

    &.right {
        --_p: 100%;
        border-bottom-right-radius: 0 0;
        place-self: end;
    }

    .header {
        font-size: 1.3rem;
        margin-bottom: 2px;
    }

    .footer {
        font-size: 1.2rem;
        color: var(--text-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
